/**
 * #.# Reset
**/
*, *::before, *::after {box-sizing: border-box;}* {margin: 0;}html, body {height: 100%;}body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
input {border-radius: 0;}input[type="search"] {-webkit-appearance: none;}
ol,ul{list-style:none} blockquote,q{quotes:none} blockquote:before,blockquote:after,q:before,q:after{content:''; content:none;} table{border-collapse:collapse;border-spacing:0}
canvas { max-width: 100%; height: auto; }

/* safari hack
/*****************************/
.row:before, .row:after {display: inline-block;}

/**
 * #.# Site Root
 * All the root classes for this site
**/

:root{
  --black:#000000;
  --green:#67F7C7;
  --white:#FFF;
  --orange:#FF9901;
  --orange-opp:rgba(254,152,0,0.65);
  --grey:#B5B5B5;
  --mgrey:#CECECE;
  --lgrey:#F5F5F5;

  --content:'Open Sans', sans-serif;
  --header:"DIN-elight", sans-serif;

  --semi:600;
  --bold:700;
}

/* Dark Mode
/*****************************/

  [data-bs-theme="dark"] {
    --black: white;
    --white: black;
    --yellow:blue;
  }

/**
 * #.# Theme Defaults
 * All the base level theme defaults
**/

::-moz-selection { background-color: var(--orange); color: var(--black); }
::selection { background-color: var(--orange); color: var(--black); }
img, picture, video, canvas, svg { display: block;  max-width: 100%;}input, button, textarea, select {font: inherit;}
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;display:none;font-family:var(--helvetica)}
a,:focus{outline:none;text-decoration:none;box-shadow:none}
button:focus,button:active,button:hover{outline:none;outline:none;box-shadow:none}
a:link{-webkit-tap-highlight-color:rgba(0,0,0,0)}
a,button{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease}
a:hover,a:focus,button:hover{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;outline:none;text-decoration:none}
a:hover{text-decoration:none}
.fademe{opacity:1;transition:opacity .25s ease-in-out;-moz-transition:opacity .25s ease-in-out;-webkit-transition:opacity .25s ease-in-out}
.fademe:hover,.fademe:hover .fademe{opacity:.7}
b,strong{font-weight:700}
.img-res{width:100%;height:auto}
.standard-style p{padding-bottom:40px}
.standard-style ul{padding-bottom:15px;list-style-position:outside;list-style-type:none;margin-left:0;padding-top:0;margin-bottom:20px}
.standard-style ol{padding-bottom:15px;list-style-position:outside;list-style-type:decimal;margin-left:0;padding-top:0;margin-bottom:20px}
.standard-style ul li{font-size:16px;padding-bottom:10px;font-weight:400;line-height:25px;color:var(--dark-green);display:flex}
.standard-style ul li::before{content:"• ";color:var(--dark-green);font-size:20px;padding-right:10px}
.standard-style ol li{font-size:17px;padding-bottom:10px;font-weight:400;line-height:25px;color:var(--dark-green)display: flex}
.standard-style ul li a,.standard-style ol li a{color:var(--blue);text-decoration:underline}
.standard-style ul li a:hover,.standard-style ol li a:hover{color:var(--dark-green)}
h1,h2,h3,h4,h5,p{font-weight:400}
body::-webkit-scrollbar{width:1em}
body::-webkit-scrollbar-track{box-shadow:inset 0 0 6px rgba(0,0,0,0.3)}
body::-webkit-scrollbar-thumb{background-color:var(--orange);outline:1px solid var(--orange)}
body {overflow-x:hidden;font-family:var(--header)}

/**
 * #.# Header
 * Header section styles including navigation
**/

header {background-color:blue;padding:25px 0px 25px;z-index:50}
.header-logo img {width:100%;height:auto}
/** ok testing merging **/
/**
 * #.# Page Builder Modules
 * Layout elemts for all the site page builder modules
**/

/* MODULE FILE NAME
/*****************************/

/* 1st UPDATE COMMIT */
.text-cols {column-count: 2;column-gap: 40px;}
.two-column-text-block h2 {font-size:60px;color: var(--orange);}
.two-column-text-block p {font-size:12px;line-height:25px}


/* PAGE MODULE CODE HERE */


/**
 * #.# Footer
 * Footer area styles
**/

footer {background-color:var(--black);padding:40px 0px 30px;color:var(--grey);font-size:12px; line-height:20px}
.footer-logo img {width: 100%;height: auto}
footer p {color:var(--grey);font-size:12px; line-height:20px;font-family: var(--content);letter-spacing: 1px}
.footer-menu-container {margin-top:45px}
.footer-menu-container ul {list-style:none;padding:0px;margin:0px;}
.footer-menu-container ul li {margin-bottom:7px;}
.footer-menu-container ul li a {color:var(--grey);text-transform: uppercase;font-size:15px;font-family:var(--hbold);letter-spacing: 2px}
.footer-menu-container ul li a:hover {color:var(--orange)}
.social-links {list-style:none;padding:0px;margin:0px;}
ul.social-links {margin-top: 12px;}
.social-links li {display: inline-block;margin-right:25px}
.social-links li a {color:var(--green);font-size:26px;}
.social-links li a:hover {color:var(--orange)}
.footer-menu-legal  {margin-top:55px;}
.footer-menu-legal ul {list-style:none;padding:0px;margin:0px}
.footer-menu-legal ul li {}
.footer-menu-legal ul li a {font-family: var(--content);color:var(--grey);font-size:12px; line-height:20px;letter-spacing: 1.5px}
.footer-menu-legal ul li a:hover {color:var(--orange)}
#footer_rh{display:flex;flex-direction:column;justify-content:flex-end;width:160px;text-align:left;font:12px/14px Arial,sans-serif;letter-spacing:.02em;text-decoration:none;color:var(--grey)}

/**
 * #.# Misc
 * All the misc styles that are needed inc btns and form sections
**/

.mobile-overflow{position:relative;overflow:hidden}
.img-fill{object-fit:cover;width:100%;height:auto}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:18px;font-weight:400;line-height:26px;color:#000;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;margin-bottom:10px}
.background{position:relative}
.background img{width:100%;height:100%;object-fit:cover;position:absolute;top:0;left:0}
.background-image {background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.contain-background {background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;background-position:center right;}
.box{display:flex;align-items:center;justify-content:center}
.box div{width:100%;height:100%}
.show-600{display:none}
.hide-600{display:block}
.show-700{display:none}
.hide-700{display:block}
.show-900{display:none}
.hide-900{display:block}
.row-eq-height {display: -webkit-box;  display: -webkit-flex;  display: -ms-flexbox;  display: flex;}
.vcenter{display:flex;flex-direction:column;justify-content:center;}
.wpcf7-spinner {position: absolute;}
.full-height{height:100vh}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
.underline-link{position:relative}
.underline-link::before{content:"";background-image:url(img/underline-apply.svg);height:10px;width:311px;position:absolute;bottom:-17px;background-position:center center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;left:0}
.noselect{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:none!important}

/**
 * #.# Responsive
 * All the media queries, desktop first
**/

@media (min-width: 1400px) {
.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1300px}
}
@media only screen and (max-width : 992px) {
.show-900{display:block}
.hide-900{display:none}
}
@media only screen and (max-width : 768px) {
.show-700{display:block}
.hide-700{display:none}
.nav-toggle{display:block}
.aos-animate{-o-transition-property:none!important;-moz-transition-property:none!important;-ms-transition-property:none!important;-webkit-transition-property:none!important;transition-property:none!important;-o-transform:none!important;-moz-transform:none!important;-ms-transform:none!important;-webkit-transform:none!important;transform:none!important;-webkit-animation:none!important;-moz-animation:none!important;-o-animation:none!important;-ms-animation:none!important;animation:none!important}
[data-aos^=fade][data-aos^=fade]{opacity:1!important;transform:translateZ(0)}
}
@media only screen and (max-width : 600px) {
.show-600{display:block}
.hide-600{display:none}
}
